* {
    background-image: none;
    box-shadow: none;
    font-family: Source Code Pro;
    font-size: 18px;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border: none;
    /* Remove standard borders */
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    box-shadow: 0 0 0 1px white;
    /* Simulate outer border */
    margin: 0;
    /* Ensure no spacing between buttons */
}

button:hover {
    background-color: rgba(48, 25, 52, 0.5);
    outline: none;
    /* Remove focus outline */
    /* Emphasize border on focus/active */
}

#lock {
    background-image: image(url("icons/lock-svgrepo-com.svg"));
}

#logout {
    background-image: image(url("icons/logout-svgrepo-com\(1\).svg"))
}

#suspend {
    background-image: image(url("icons/minus-circle-svgrepo-com.svg"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/pause-svgrepo-com.svg"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("icons/remove-circle-svgrepo-com.svg"))
}

#reboot {
    background-image: image(url("icons/rotate-counterclockwise-svgrepo-com.svg"))
}
